/* css reset */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
display: flex;
flex-direction: column;
font-family: "Comic Sans MS", cursive;
background-color: yellow;
padding: 3rem;
padding: 3rem;
border: 15px dotted lime;
}